.queroDoarSection {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
        font-size: 24px;
    }
}

form {
    border: solid #005695;
    border-radius: 20px;
    height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #005695;
    }
}

input {
    width: 90%;
    height: 5vh;
    border: solid #005695;
    border-radius: 15px;
    padding-left: 20px;

    &::placeholder {
        color: #000;
    }
}


.buttonDoar {
    width: 50%;
    height: 8vh;
    font-size: 24px;
    background-color: #005695;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.mensagemSucesso {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

@media (max-width: 780px) {
    .queroDoarSection {
        height: 100vh;

        p {
            font-size: 18px;
            text-align: center;
            width: 70%;
        }
    }

    form {
        width: 90%;
        font-size: 14px;
    }
}