.livrosDoadosSection {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

    h2 {
        font-size: 32px;
        text-align: center;
    }
}

.containerCards{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    img{
        width: 10vw;
    }

    section {
        border: solid 3px #005695;
        width: 45%;
        max-width: 300px;
        height: 40vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        box-sizing: border-box;

        div {
            text-align: center;
        }
    }
}

@media (max-width: 780px) {
    .containerCards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        section {
            width: 45%;
        }

        img {
            width: 20vw;
        }
    }

}